@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-Thin.otf);
    font-weight: 200;
}
@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: metropolis;
    src: url(resources/fonts/metropolis/Metropolis-Black.otf);
    font-weight: 800;
}

.sidebar-nav p {
    margin: .1rem 0;
}

:root {
    --base-font-size: 14px;
    --theme-color: #38CB7C;
    --base-font-family: metropolis, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --sidebar-name-color: #38CB7C;
    --sidebar-nav-link-color--active: #38CB7C;
    --sidebar-nav-link-text-decoration--active: none;
    --sidebar-border-width: 1px;

    --search-margin: 1.5rem 0;
  }
  